<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Ruby Rock, Paper, Scissors</title>
        <link href="" rel="stylesheet" href="style.css"/>
    </head>
    <body>
      <%=  yield %>
    </body>
</html>
